@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@charset "utf-8";
body{
	

}
.sidebar {
  z-index: 100;
  background: #E6DADA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding-top: 30px;
  position: fixed;
  left: 0;
  margin: 0;
  width: 250px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
  border-right: 1px solid black;
}
.sidebar .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar h4{
 font-family: 'Noto Sans', sans-serif;
  color: black;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a{
  font-family: 'Noto Sans', sans-serif;
  color: black;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: .5s ease-in;
  transition-property: background;
}

.sidebar a:hover,
.sidebar a:focus{
	color: white;
   background: #000000; 
background: -webkit-linear-gradient(to right, #434343, #000000);  
background: linear-gradient(to right, #434343, #000000); 
}

.sidebar i{
  padding-right: 10px;
}
